.panda-backgroung-color{
    background-color:#feeae9 ;

}
.categorie img{
    height: 100px;
    width: 100px;
}
body{
    background-color: aliceblue;
}
footer{
    background-color:lightyellow;
    padding: 3%;
}